<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Active roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (user of users; track user.username) {
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.roles }}</td>
                    <td>
                        <button (click)="openRolesModel(user)" class="btn btn-info">Edit roles</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>